$page-bg-color: #474747;
$text-color: #454545;
$btn-bg-color: rgb(237, 58, 146);
$btn-bg-color-hover: rgb(197, 47, 134);
$error-msg-color: rgb(121, 48, 62);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin btn-style{
  background-color: $btn-bg-color;
  color: white;
  font-weight: bold;
  padding: .5rem;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  margin: 1rem 0;
  box-shadow: 0 5px 5px lightgray;

  &:hover{
    background-color: $btn-bg-color-hover;
  }
}

@mixin container-style{
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 9px;
  color: $text-color;
  font-size: 1.3rem;
}

body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $page-bg-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
  @include container-style();

  h2{
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  label{
    margin: .5rem 0;
  }

  input{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    padding: .5rem;
    box-shadow: 0 5px 5px lightgray;
  }

  button{
    @include btn-style();
  }
}

.after-login-page{
  @include container-style();

  h2{
    margin-bottom: 2rem;
    max-width: 15rem;
  }

  button{
    @include btn-style();
  }
}

.centered-text{
  text-align: center;
  margin: .5rem auto;
}

.helper-paragraph{
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 2px;
}

.error-msg{
  color: $error-msg-color;
  max-width: 15rem;
}